.container{
  background: #f4f4f4;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    height: auto;


    
    @media (max-width: 768px) {
      width: 300px;
      padding: 15px;

    }

}

