// Define colors
$primary-color: #ff0080;
$secondary-color: #7928ca;
$white-font:#fff;

// Define gradient
$primary-gradient-linear: linear-gradient(104.17deg, $primary-color 0%, $secondary-color 99.82%);
$input-gradient-linear:linear-gradient(90deg, $primary-color 0%, $secondary-color 50%, $primary-color 100%);