@import '/src/styles/colors.scss' ;
.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 64px ;
  height: 100%;
  overflow: hidden;
  --tw-text-opacity: 1;
  color: #374151;
  transition: width 0.3s; /* Transition width for sidebar expansion */
  --tw-bg-opacity: 1;
  background-color: $white-font;
  position: fixed;

.header{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  cursor: pointer; 

    padding-left: 12px;
    padding-right:12px;
    margin-top: 12px;
    margin-bottom: 12px;
    svg{
      width: 32px ;
      height: 32px ;
      fill: currentColor;
      transition: fill 0.3s; /* Transition fill color for SVG */
    }
    span{
      margin: 0 8px;
      font-weight: 700;
      font-size: 14px;
    line-height:20px ;
    font-weight: 700;
    display: none;
    transition: display 0.3s ease-in-out;

    }
}

main{
  width: 100%;
  padding: 0 8px;


  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 8px;
    border-top-width: 1px;
    --tw-border-opacity: 1;
  border-color: #374151;
  
  .productContainer{
    border-bottom: 1px solid;
    width: 100%;
}
  a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 0 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 4px ;
    transition: background-color 0.3s, color 0.3s; /* Transition background and color for hover */
    svg{
      width: 24px/* 24px */;
      height: 24px/* 24px */;
      stroke: currentColor;
  
    }
    
    span{
      margin: 0 8px;
      font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    display: none;
    transition: display 0.3s ease-in-out;

    }
    &:hover{
      background-color: rgb(233 236 239 / var(--tw-bg-opacity));

    }
    &.active{
      
      background-color: rgb(233 236 239 / var(--tw-bg-opacity));
      svg{
        color: $secondary-color;
      }
      span{
        background:  $primary-gradient-linear; 
      -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text; ; 
        -webkit-text-fill-color: transparent; 
        background-clip: text; 
      }
    }
  }

  }
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  margin-top: auto;
  background: $primary-gradient-linear; ;
  transition: background-color 0.3s, color 0.3s; /* Transition background and color for hover */
  svg{
    width: 24px;
    height: 24px;
    stroke: currentColor;
  }
  
  span{
    margin: 0 8px;
    font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  display: none;
transition: display 0.3s ease-in-out;
  }

  &:hover{
    background-color: gray;
    color: white ;
  }
}


@media (min-width: 1281px) {
    
  &:hover{
    width: 160px;
    .header span , main .container span ,.footer span{
      display: block;
    }
  
  }

}
}